* {
    font-family:'Papyrus';
    background-color: rgb(158, 215, 187);
}

h1{
    color:rgb(22, 22, 127)
}
p{
    color:rgb(14, 68, 11)
}
#text {
    color:rgb(95, 109, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
